body {
  font-family: 'Poppins', sans-serif;
}

.footer-container {
    background-color: #d946ef;
    width: 100%;
    color: #000000;
    padding: 60px 40px 20px;
    position: relative;
    overflow: hidden;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    padding-bottom: 40px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 90%;
}

.footer-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-heading {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #0d0a15;
    margin: 0;
}

.footer-links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links li a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ease;
}

.footer-links li a:hover {
    color: #0d0a15;
    padding: 10px;
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.2);
}

.footer-right {
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.social-link img {
    object-fit: contain;
}

.social-link:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .footer-right{
         display: none;
    }
    .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    
    .footer-right {
        grid-column: 1 / -1;
        align-items: center;
        text-align: center;
    }
    
    .social-icons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .footer-right{
         display: none;
    }
    .footer-container {
        padding: 40px 20px 15px;
    }
    
    .footer-content {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }
    
    .footer-left {
        align-items: center;
    }
    
    .footer-center {
        align-items: center;
    }
    
    .footer-links {
        align-items: center;
    }
    
    .social-icons {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .footer-right{
         display: none;
    }
    .footer-logo-text {
        font-size: 24px;
    }
    
    .social-link {
        width: 36px;
        height: 36px;
    }
    
    .social-link img {
        width: 30px;
    }
}