
.pubg-loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0d0a15;
}

.pubg-loading-screen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/pubg-loading.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 0;
}

.loading-gif-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.pubg-portfolio-container{
  position: relative;
  background: #0d0a15;
  min-height: 100vh;
}

.pubg-portfolio-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/pubg-port-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
}

.pubg-portfolio-container > *{ 
    position: relative;
    z-index: 1;
}

/* Mobile responsive background */
@media (max-width: 768px) {
  .pubg-portfolio-container::before {
    background-image: url('/pubg-port-bg-mob.jpg');
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 0;
  }
}
