@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
  background-color: #0d0a15;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Fade-in animation */
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadein {
  animation: fadein 1s ease-out forwards;
}